<div>
<ul class="nav">
    <li class="nav-item">
        <h2>Herolo Weather Task</h2>
        <a class="nav-link active" href="#">Main</a>
    </li>
    

</ul>

    <nav>
            <div class="nav nav-tabs justify-content-end" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="movingToFavorites()">Favorites</a>
             
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><app-home></app-home></div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-favorites-tab" ><app-favorites></app-favorites></div>
          
          </div>
</div>